.msg-header{
    display: flex;
    align-items: flex-start;
    padding-bottom: 40px;
    border-bottom: 3px solid #707070;
    margin-bottom: 30px;
}

.badge{
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    margin-right: 30px;
}

.badge-mem{
    background-color: #222681;
}
.badge-opp{
    background-color: #a80a12;
}

.opponent-team, .opponent-info{
    display: flex;
    align-items: center;
}
.opponent-team-img{
    width: 140px;
    height: 140px;
    margin-right: 30px;
}
img{
    border-radius: 50%;
}
.opponent-team p{
    font-size: 36px;
}

.opponent-info{
    justify-content: center;
    margin-bottom: 45px;
}
.opponent-info-img{
    width: 75px;
    height: 75px;
    margin-right: 30px;
}

/*area-board-----------------*/
/*共通*/
.area-board{
    min-height: 700px;
    margin-bottom: 30px;
    background-color: whitesmoke;
    border: 1px solid #707070;
    padding: 30px 20px 10px 20px;
}

.msg-container{
    width: 100%;margin-bottom: 20px;
}

.user-img{
    width: 40px;
    height: 40px;
}
.user-name, .send-date{
    font-size: 15px;
}
.user-name{
    margin: 0 10px;
}

/*自分(right)*/
.user-wrapper-right, .text-wrapper-right{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}
.user-wrapper-right{
    margin-bottom: 10px;
}

.msg-text-right{
    position:relative;
    width: 80%;
    margin: 10px 0 0 10px;
    background:#B7F4FF;
    padding:15px;
    text-align:left;
    font-size:20px;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}
.msg-text-right:after{
    border: solid transparent;
    content:'';
    height:0;
    width:0;
    pointer-events:none;
    position:absolute;
    border-color: rgba(183, 244, 255, 0);
    border-top-width:15px;
    border-bottom-width:15px;
    border-left-width:12px;
    border-right-width:12px;
    margin-left: -12px;
    border-bottom-color:#B7F4FF;
    bottom:100%;
    left:93%;
}

/*相手(left)*/
.user-wrapper-left, .text-wrapper-left{
    display: flex;
    align-items: flex-end;
}
.user-wrapper-left{
    margin-bottom: 10px;
}

.msg-text-left{
    position:relative;
    width: 80%;
    margin: 10px 10px 0 0;
    background: #E0DFDF;
    padding:15px;
    text-align:left;
    font-size:20px;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}
.msg-text-left:after{
    border: solid transparent;
    content:'';
    height:0;
    width:0;
    pointer-events:none;
    position:absolute;
    border-color: rgba(245, 245, 245, 0);
    border-top-width:15px;
    border-bottom-width:15px;
    border-left-width:12px;
    border-right-width:12px;
    margin-left: -12px;
    border-bottom-color: #E0DFDF;
    bottom:100%;
    left:7%;
}

/*form------------------------*/
textarea{
    background-color: #B7F4FF;
    border-radius: 10px;
}